<div class="content">
    <div class="info">
        Danh sách tài khoản chờ duyệt
    </div>
    <div class="cardinfo">

        {{#if user}}
        {{user.fullname2}}
        {{user.datecreate2}}
        {{user.statusAccount2}}


        {{/if}}
    </div>
</div>