<div class="home grid-container">
    <div class="sidenav scrollbar-deep-purple bordered-deep-purple thin">
        <div class="logobrandcard">
            <div class="d-flex flex-row logothuonghieu justify-content-center row">
                <div class="logobrand"><a href="home"><img src="resources/images/logo.png" width="90" /></a></div>
                <div class="brandname">
                    BKTPay
                </div>
            </div>
        </div>
        <div class="profilecard">
            <div>
                <img class="avatar" src="resources/images/adminprofile.png" height="80" alt="user" />
            </div>
            <div class="ten">Lê Minh Triết</div>
            <div class="numberphone">0846341434</div>

        </div>
        <div class="account">
            <div class="sodu">Số dư:</div>
            <div class="money">10.000.000 VNĐ</div>
        </div>
        <div class="transaction">
            <div class="transactionname"><a href="home" style="text-decoration:none">
                    <img class="icon" src="resources/images/icons8-exchange-96.png" height="60" alt="Chuyển tiền" />
                    <div class="nametransaction">Chuyển tiền</div>
                </a>
            </div>
            <div class="transactionname "><a href="home" style="text-decoration:none">
                    <img class="icon" src="resources/images/icons8-money-transfer-96.png" height="60" alt="Nạp tiền" />
                    <div class="nametransaction">Nạp tiền</div>
                </a>
            </div>
            <div class="transactionname "><a href="home" style="text-decoration:none">
                    <img class="icon" src="resources/images/icons8-initiate-money-transfer-96.png" height="60"
                        alt="Rút tiền" />
                    <div class="nametransaction">Rút tiền</div>
                </a>
            </div>
        </div>
        <div class="panel">
            <div class="panel-group-transaction">
                <div class="panel-group-logo panel-group-logoandname">
                    <img src="resources/images/icons8-phone-96.png" height="60" alt="Nạp tiền điện thoại" />
                </div>
                <div class="panel-group-nametransaction panel-group-logoandname">Nạp tiền điện thoại</div>
                <hr width="100%" color="white" align="center" size="2px">
            </div>
            <div class="panel-group-transaction">
                <div class="panel-group-logo panel-group-logoandname">
                    <img src="resources/images/icons8-medical-history-96.png" height="60" alt="Lịch sử giao dịch" />
                </div>
                <div class="panel-group-nametransaction panel-group-logoandname">Lịch sử giao dịch</div>
                <hr width="100%" color="white" align="center" size="2px">
            </div>
            <div class="panel-group-transaction">
                <div class="panel-group-logo panel-group-logoandname">
                    <img src="resources/images/icons8-mastercard-96.png" height="60" alt="Quản lí thẻ tín dụng" />
                </div>
                <div class="panel-group-nametransaction panel-group-logoandname">Quản lí thẻ tín dụng</div>
                <hr width="100%" color="white" align="center" size="2px">
            </div>
            <div class="panel-group-transaction">
                <div class="panel-group-logo panel-group-logoandname">
                    <img src="resources/images/icons8-delivery-time-96.png" height="60" alt="Giao dịch đang chờ" />
                </div>
                <div class="panel-group-nametransaction panel-group-logoandname">Giao dịch đang chờ</div>
            </div>
        </div>
    </div>
    <div class="headerofpage">
        <div class="nameoftransaction">
            Homepage
        </div>
        <div class="changepassbutton">
            <img src="resources/images/icons8-key-96.png" height="60" alt="Changepass" />

        </div>
        <div class="logoutbutton">
            <img src="resources/images/icons8-logout-96.png" height="60" alt="Logout" />

        </div>

    </div>
    <div class="contentleft">

    </div>
    <div class="contentright">

    </div>
</div>