<div class="home">
    <div class="flex-shrink-0 sidenav">
        <div class="logobrandcard">
            <div class="d-flex flex-row logothuonghieu justify-content-center row">
                <div class="logobrand"><a href="home"><img src="resources/images/logo.png" width="90" /></a></div>
                <div class="brandname">
                    BKTPay
                </div>
            </div>
        </div>
        <div class="profilecard">
            <img class="avatar" src="resources/images/adminprofile.png" height="80" alt="user" />
            <div class="ten">Name</div>
        </div>
        <div class="account">
            <div class="money">10.000.000 VNĐ</div>
        </div>
    </div>
</div>