<div class="index">
    <div class="container">
        <div class="row justify-content-center">
            <div class="welcome">
                <img class="round" src="../resources/images/logo.png" height="100" alt="logobrand"/>
                <br></br>
                <h7 class="appname">BKTTTPay</h8> <br></br>
                <a class="btn btn-outline-info" href="#">Đăng nhập</a><br></br>
                <div class="card-footer text-center py-3">
                    <h8 class="small">Created By BKTTT Team | Copyright © 2022 all rights reserved</h8>
                </div>
            </div>
        </div>
    </div>
</div>