<div class="index">
    <div class="container">
        <div class="row justify-content-center">
            <div class="welcomecard">
            <img src="resources/images/logo.png" height="100" alt="logobrand" />
            <br></br>
            <h7 class="appname">BKTPay</h7> <br></br>
            <div class="btnindex-group row">
                <button class="btnindex btn-signup" href="register">Sign up</button>
                <button class="btnindex btn-login" href="login">Log in</button>
            </div>
            <div class="card-footer text-center py-3">
                <h8 class="reserved">Created By BKTTT Team | Copyright © 2022 all rights reserved</h8>
            </div>
            </div>
        </div>
    </div>
</div>