<div class="login">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-8 col-sm-10 col-xs-10">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                        <h3 class="text-center font-weight-light my-4">Login</h3>
                    </div>
                    <div class="card-body">
                        <form action="" method="POST">
                            <div class="form-floating mb-3">
                                <input name="user" class="form-control" id="user" type="text"
                                    placeholder="your username" />
                                <label for="user">Username</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input name="pass" class="form-control" id="pass" type="password"
                                    placeholder="Password" />
                                <label for="pass">Password</label>
                            </div>
                                <a href="resetpassword">Forgot Password?</a>

                            <div class="d-flex align-items-center justify-content-center mt-4 mb-0">
                                <button type="submit" class="loginbutton">Login</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center py-3">
                        <div class="small">Created By BKTTT Team | Copyright © 2022 all rights reserved</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>