<div class="content moneyrecharge">
    <div class="titlecardinfo">
        Chuyển tiền
    </div>
    <div class=" cardinfo">

        <form class="row gx-3 gy-2 align-items-center">
            <div class="creditcardtitle">
                Thông tin người nhận
            </div>
            <div class="col-sm-12">
                <label class="visually-hidden" for="specificSizeInputGroupUsername">Số tài khoản</label>
                <div class="input-group">
                    <div class="input-group-text">Số tài khoản</div>
                    <input type="NUMBER" class="form-control" id="specificSizeInputGroupUsername" placeholder="Số tài khoản">
                </div>
            </div>
            <div class="creditcardtitle">
                Số tiền nạp
            </div>
            <div class="col-sm-12">
                <label class="visually-hidden" for="specificSizeInputGroupUsername">Số tiền</label>
                <div class="input-group">
                    <div class="input-group-text">Số tiền</div>
                    <input type="NUMBER" class="form-control" id="specificSizeInputGroupUsername" placeholder="Số tiền">
                </div>
            </div>
             <div class="col-sm-12">
                
                <input type="text" class="form-control" id="inputAddress2" placeholder="Ghi chú">

            </div>
            <div class="row-auto">
                <button type="submit" class="buttonnaptien">Chuyển tiền</button>
            </div>
        </form>


    </div>


</div>