<div class="content mobilecharge">
    <div class="titlecardinfo">
        Nạp tiền điện thoại
    </div>
    <div class=" cardinfo">
        <form class="row gx-3 gy-2 align-items-left">
            <div class="creditcardtitle">
                Thông tin thẻ cào
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <div class="form-floating mb-3 mb-md-0">
                        <div class="namecard">Vinaphone</div>
                        <div>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="radio1" name="optradio"
                                    value="10000">10.000
                                <label class="form-check-label" for="radio1"></label>
                            </div>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="radio2" name="optradio"
                                    value="20000">20.000
                                <label class="form-check-label" for="radio2"></label>
                            </div>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="radio3" name="optradio"
                                    value="50000">50.000
                                <label class="form-check-label" for="radio3"></label>
                            </div>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="radio4" name="optradio"
                                    value="100000">100.000
                                <label class="form-check-label" for="radio4"></label>
                            </div>
                        </div>
                        <div><input type="range" class="form-range" min="0" max="5"></div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-floating mb-3 mb-md-0">
                        <div class="namecard">Mobifone</div>
<div>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="radio1" name="optradio"
                                    value="10000">10.000
                                <label class="form-check-label" for="radio1"></label>
                            </div>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="radio2" name="optradio"
                                    value="20000">20.000
                                <label class="form-check-label" for="radio2"></label>
                            </div>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="radio3" name="optradio"
                                    value="50000">50.000
                                <label class="form-check-label" for="radio3"></label>
                            </div>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="radio4" name="optradio"
                                    value="100000">100.000
                                <label class="form-check-label" for="radio4"></label>
                            </div>
                        </div>
                        <div><input type="range" class="form-range" min="0" max="5"></div>




                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-floating mb-3 mb-md-0">
                        <div class="namecard">Viettel</div>
<div>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="radio1" name="optradio"
                                    value="10000">10.000
                                <label class="form-check-label" for="radio1"></label>
                            </div>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="radio2" name="optradio"
                                    value="20000">20.000
                                <label class="form-check-label" for="radio2"></label>
                            </div>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="radio3" name="optradio"
                                    value="50000">50.000
                                <label class="form-check-label" for="radio3"></label>
                            </div>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="radio4" name="optradio"
                                    value="100000">100.000
                                <label class="form-check-label" for="radio4"></label>
                            </div>
                        </div>
                        <div><input type="range" class="form-range" min="0" max="5"></div>



                    </div>
                </div>
            </div>




            <div class="row-auto">
                <button type="submit" class="buttonnaptien">Mua mã thẻ</button>
            </div>
        </form>
    </div>

</div>


</div>