<div class="register">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                        <h3 class="text-center font-weight-light my-4">Tạo tài khoản</h3>
                    </div>
                    <div class="card-body">
                        <form action="/register" method="post" class="font-weight-bold needs-validation"
                            enctype="multipart/form-data" novalidate>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input class="form-control" type="text" name="firstname" id="inputLastName"
                                            value="" placeholder="Enter your last name" required />
                                        <label for="inputLastName">Họ và tên lót</label>
                                        <div class="invalid-tooltip">Vui lòng nhập Họ và tên lót.</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating mb-3 mb-md-0">
                                        <input class="form-control" type="text" name="lastname" id="inputFirstName"
                                            value="" placeholder="Enter your first name" required />
                                        <label for="inputFirstName">Tên</label>
                                        <div class="invalid-tooltip">Vui lòng nhập tên.</div>

                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <input class="form-control" type="date" name="birthdate" id="inputbirthdate"
                                            value="" placeholder="Enter your birthdate" required />
                                        <label for="inputbirthdate">Ngày sinh</label>
                                        <div class="invalid-tooltip">Vui lòng nhập ngày sinh</div>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <select class="form-select" id="sel1" name="gender" value="">
                                            <option>Nam</option>
                                            <option>Nữ</option>
                                            <option>Khác</option>
                                        </select>
                                        <label for="sel1" class="form-label">Giới tính</label>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <select class="form-select" name="address" id="pickadress" value="">
                                            <option value="Hà Nội">Hà Nội</option>
                                            <option value="TP Hồ Chí Minh">TP Hồ Chí Minh</option>
                                            <option value="Đà Nẵng">Đà Nẵng</option>
                                            <option value="Hải Phòng">Hải Phòng</option>
                                            <option value="Cần Thơ">Cần Thơ</option>
                                            <option value="An Giang">An Giang</option>
                                            <option value="Bà Rịa Vũng Tàu">Bà Rịa Vũng Tàu</option>
                                            <option value="Bạc Liêu">Bạc Liêu</option>
                                            <option value="Bắc Giang">Bắc Giang</option>
                                            <option value="Bắc Kạn">Bắc Kạn</option>
                                            <option value="Bắc Ninh">Bắc Ninh</option>
                                            <option value="Bến Tre">Bến Tre</option>
                                            <option value="Bình Dương">Bình Dương</option>
                                            <option value="Bình Định">Bình Định</option>
                                            <option value="Bình Phước">Bình Phước</option>
                                            <option value="Bình Thuận">Bình Thuận</option>
                                            <option value="Cà Mau">Cà Mau</option>
                                            <option value="Cao Bằng">Cao Bằng</option>
                                            <option value="Đắk Lắk">Đắk Lắk</option>
                                            <option value="Đắk Nông">Đắk Nông</option>
                                            <option value="Điện Biên">Điện Biên</option>
                                            <option value="Đồng Nai">Đồng Nai</option>
                                            <option value="Đồng Tháp">Đồng Tháp</option>
                                            <option value="Gia Lai">Gia Lai</option>
                                            <option value="Hà Giang">Hà Giang</option>
                                            <option value="Hà Nam">Hà Nam</option>
                                            <option value="Hà Tĩnh">Hà Tĩnh</option>
                                            <option value="Hải Dương">Hải Dương</option>
                                            <option value="Hậu Giang">Hậu Giang</option>
                                            <option value="Hòa Bình">Hòa Bình</option>
                                            <option value="Hưng Yên">Hưng Yên</option>
                                            <option value="Kiên Giang">Kiên Giang</option>
                                            <option value="Kon Tum">Kon Tum</option>
                                            <option value="Khánh Hòa">Khánh Hòa</option>
                                            <option value="Lai Châu">Lai Châu</option>
                                            <option value="Lạng Sơn">Lạng Sơn</option>
                                            <option value="Lào Cai">Lào Cai</option>
                                            <option value="Lâm Đồng">Lâm Đồng</option>
                                            <option value="Long An">Long An</option>
                                            <option value="Nam Định">Nam Định</option>
                                            <option value="Ninh Bình">Ninh Bình</option>
                                            <option value="Ninh Thuận">Ninh Thuận</option>
                                            <option value="Nghệ An">Nghệ An</option>
                                            <option value="Phú Thọ">Phú Thọ</option>
                                            <option value="Phú Yên">Phú Yên</option>
                                            <option value="Quảng Bình">Quảng Bình</option>
                                            <option value="Quảng Nam">Quảng Nam</option>
                                            <option value="Quảng Ninh">Quảng Ninh</option>
                                            <option value="Quảng Ngãi">Quảng Ngãi</option>
                                            <option value="Quảng Trị">Quảng Trị</option>
                                            <option value="Sóc Trăng">Sóc Trăng</option>
                                            <option value="Sơn La">Sơn La</option>
                                            <option value="Tây Ninh">Tây Ninh</option>
                                            <option value="Tiền Giang">Tiền Giang</option>
                                            <option value="Tuyên Quang">Tuyên Quang</option>
                                            <option value="Thái Bình">Thái Bình</option>
                                            <option value="Thái Nguyên">Thái Nguyên</option>
                                            <option value="Thanh Hóa">Thanh Hóa</option>
                                            <option value="Thừa Thiên Huế">Thừa Thiên Huế</option>
                                            <option value="Trà Vinh">Trà Vinh</option>
                                            <option value="Vĩnh Long">Vĩnh Long</option>
                                            <option value="Vĩnh Phúc">Vĩnh Phúc</option>
                                            <option value="Yên Bái">Yên Bái</option>

                                        </select>
                                        <label for="pickadress" class="form-label">Địa chỉ:</label>
                                    </div>


                                </div>

                            </div>
                            <div class="row mb-3">

                                <div class="col-md-12">
                                    <div class="form-floating">
                                        <input class="form-control" type="text" name="numberphone" id="inputnumberphone"
                                            value="" placeholder="Enter your first name" required />
                                        <label for="inputnumberphone">Số điện thoại</label>
                                        <div class="invalid-tooltip">Số điện thoại</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">

                                <div class="col-md-9">
                                    <div class="form-floating">
                                        <input class="form-control" type="text" name="email" id="email" value=""
                                            placeholder="Enter your email" required />
                                        <label for="email">Email</label>
                                        <div class="invalid-tooltip">Email</div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-floating">
                                        <input class="form-control" type="text" name="duoiemailemail"
                                            id="duoiemailemail" value="" placeholder="@gmail.com" required disabled />
                                        <label for="duoiemail">@gmail.com</label>
                                        <div class="invalid-tooltip">Email</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                {{!-- _______________________________________________________ --}}
                                <div class="col-md-6">
                                    <div class="uploadimg">
                                        <div class="wrapper">
                                            <div class="image">
                                                <img src="resources/images/frontcamera.png" alt="">
                                            </div>
                                            <div class="contenthere">
                                                <div class="icon">
                                                    <i class="fas fa-cloud-upload-alt"></i>
                                                </div>
                                                <div class="text">
                                                    Mặt trước
                                                </div>
                                            </div>
                                            <div id="cancel-btn">
                                                <i class="fas fa-times"></i>
                                            </div>
                                            <div class="file-name">
                                                File name here
                                            </div>
                                        </div>
                                        <button type="button" onclick="defaultBtnActive()" class="custom-btn"
                                            id="custom-btn">Tải
                                            lên</button>
                                        <input id="default-btn" type="file" name="frontnationalid" value="" hidden
                                            accept="image/png, image/gif, image/jpeg" />
                                    </div>
                                </div>
                                {{!-- _______________________________________________________ --}}

                                <div class="col-md-6">
                                    <div class="uploadimg">
                                        <div class="wrapper" id="wrapper1">
                                            <div class="image" id="image1">
                                                <img id="imgresult1" src="resources/images/backcamera.png" alt="">
                                            </div>
                                            <div class="contenthere">
                                                <div class="icon">
                                                    <i class="fas fa-cloud-upload-alt"></i>
                                                </div>
                                                <div class="text">
                                                    Mặt sau
                                                </div>
                                            </div>
                                            <div id="cancel-btn1">
                                                <i class="fas fa-times"></i>
                                            </div>
                                            <div class="file-name" id="file-name1">
                                                File name here
                                            </div>
                                        </div>
                                        <button type="button" onclick="defaultBtnActive1()" class="custom-btn"
                                            id="custom-btn1">Tải
                                            lên</button>
                                        <input id="default-btn1" type="file" name="backnationalid" value="" hidden
                                            accept="image/png, image/gif, image/jpeg" />
                                    </div>
                                </div>
                                {{!-- _______________________________________________________ --}}


                                {{!-- _______________________________________________________ --}}
                            </div>
                            <div class="mt-4 mb-0">
                                <div class="d-grid align-items-center justify-content-center">
                                    <button type="submit" class="buttonregister">Gửi email xác thực</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center py-3">
                        <div class="small">Created By BKTTT Team | Copyright © 2022 all rights reserved</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!--___________________________________Test___________________________________________ --}}

    <!-- Created By CodingNepal -->




    {{!--___________________________________Test___________________________________________ --}}

</div>
</div>
