<div class="register">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                        <h3 class="text-center font-weight-light my-4">Đặt lại mật khẩu</h3>
                    </div>
                    <div class="card-body">
                        <form action="/resetpassword" method="post" class="font-weight-bold needs-validation"
                             novalidate>
                            <div class="row mb-3">
                                <div class="col-md-9">
                                    <div class="form-floating">
                                        <input class="form-control" type="text" name="email" id="email" value=""
                                            placeholder="Enter your email" required />
                                        <label for="email">Email</label>
                                        <div class="invalid-tooltip">Email</div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-floating">
                                        <input class="form-control" type="text" name="duoiemailemail"
                                            id="duoiemailemail" value="" placeholder="@gmail.com" required disabled />
                                        <label for="duoiemail">@gmail.com</label>
                                        <div class="invalid-tooltip">Email</div>
                                    </div>
                                </div>
                            </div>
                           
                            <div class="mt-4 mb-0">
                                <div class="d-grid align-items-center justify-content-center">
                                    <button type="submit" class="buttonregister">Gửi email đặt lại mật khẩu</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center py-3">
                        <div class="small">Created By BKTTT Team | Copyright © 2022 all rights reserved</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!--___________________________________Test___________________________________________ --}}

    <!-- Created By CodingNepal -->




    {{!--___________________________________Test___________________________________________ --}}

</div>
</div>