<form action="/moneyrecharge/test" method="post">
    <input name="cardNumber" type="number" placeholder="card number">
    <input name="expired" type="date">
    <input name="cvv" type="number" placeholder="cvv code">
    <input type="submit" value="submit">
</form>