body {

  background-image: url('/resources/images/subbackground.png');
}
*a {
  text-decoration: none;
}

/*-----------------------------------------------------------------*/
.index .welcomecard {
  background-color: #ffffff;
  border-radius: 19px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  padding-top: 20px;
  position: relative;
  width: 500px;
  max-width: 100%;
  text-align: center;
  margin-top: 230px;
}

.index .welcomecard .appname {
  color: #6667AB;
  font-size: 40px;
  margin-top: 10px;
}

/****Button Login - Sign up***********************************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.btnindex-group {
  position: relative;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
}


.btnindex:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btnindex-group .btn-signup {
margin-left: 8px;
  color: #fff;
  width: 100px;
  font-size: 18px;
  font-weight: 550;
  cursor: pointer;
  height: 60px;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.btnindex-group .btn-login {
  margin-left: 15px;
  color: #fff;
  width: 100px;
  font-size: 18px;
  font-weight: 550;
  cursor: pointer;
  height: 60px;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

.btnindex:focus {
  outline: none;
}

.index .reserved {
  color: black;
  font-size: 16px;
  font-size: small;
}

/*-----------------------------------------------------------------*/
/*Login page*/
.login .loginbutton{
  margin-left: 15px;
  color: #fff;
  width: 150px;
  font-size: 18px;
  font-weight: 550;
  cursor: pointer;
  height: 60px;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-image: linear-gradient(to right, #060256, #340b35, #6768ab, #8E37D7);
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
.loginbutton:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.loginbutton:before {
  content: '';
  background: linear-gradient(45deg, #210535, #6768ab, #7b337d, #c874b2, #f5d5e0, #0b0b2f, #7a00ff, #004290, #c46fb2);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.loginbutton:active {
  color: #000
}

.loginbutton:active:after {
  background: transparent;
}

.loginbutton:hover:before {
  opacity: 1;
}

.loginbutton:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
/*-----------------------------------------------------------------*/
/*Register page*/


/*-----------------------------------------------------------------*/
/*Resetpassword page*/