body {

  background-image: url('/resources/images/subbackground.png');
}
a {
  text-decoration: none;
}

/*-----------------------------------------------------------------*/
.index .welcomecard {
  background-color: #ffffff;
  border-radius: 19px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  padding-top: 20px;
  position: relative;
  width: 500px;
  max-width: 100%;
  text-align: center;
  margin-top: 230px;
}

.index .welcomecard .appname {
  font-size: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #E0C878;
}

/****Button Login - Sign up***********************************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.btnindex-group {
  position: relative;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
}


.btnindex:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btnindex-group .btn-signup {
margin-left: 8px;
  color: #fff;
  width: 100px;
  font-size: 18px;
  font-weight: 550;
  cursor: pointer;
  height: 60px;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);

}

.btnindex-group .btn-login {
  margin-left: 15px;
  color: #fff;
  width: 100px;
  font-size: 18px;
  font-weight: 550;
  cursor: pointer;
  height: 60px;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

.btnindex:focus {
  outline: none;
}

.index .reserved {
  color: black;
  font-size: 16px;
  font-size: small;
}

/*-----------------------------------------------------------------*/
/*Login page*/
.login .loginbutton{
  margin-left: 15px;
  color: #fff;
  width: 150px;
  font-size: 18px;
  font-weight: 550;
  cursor: pointer;
  height: 60px;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-image: linear-gradient(to right, #060256, #340b35, #6768ab, #8E37D7);
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
.loginbutton:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.loginbutton:before {
  content: '';
  background: linear-gradient(45deg, #210535, #6768ab, #7b337d, #c874b2, #f5d5e0, #0b0b2f, #7a00ff, #004290, #c46fb2);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.loginbutton:active {
  color: #000
}

.loginbutton:active:after {
  background: transparent;
}

.loginbutton:hover:before {
  opacity: 1;
}

.loginbutton:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

/*-----------------------------------------------------------------*/
/*Register page*/


.register .buttonregister{
  margin-left: 15px;
  color: #fff;
  width: 300px;
  font-size: 18px;
  font-weight: 550;
  cursor: pointer;
  height: 60px;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-image: linear-gradient(to right, #060256, #340b35, #6768ab, #8E37D7);
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
.register .buttonregister:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.register .buttonregister:before {
  content: '';
  background: linear-gradient(45deg, #210535, #6768ab, #7b337d, #c874b2, #f5d5e0, #0b0b2f, #7a00ff, #004290, #c46fb2);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.register .buttonregister:active {
  color: #000
}

.register .buttonregister:active:after {
  background: transparent;
}

.register .buttonregister:hover:before {
  opacity: 1;
}

.register .buttonregister:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
.register .cccd-pic {
  width: 150px;
  }
/*-----------------------------------------------------------------*/
/*Resetpassword page*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.uploadimg .wrapper{
  position: relative;
  height: 300px;
  width: 100%;
  border-radius: 10px;
  background: #fff;
  border: 2px dashed #c2cdda;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.wrapper.active{
  border: none;
}
.wrapper .image{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.wrapper .icon{
  font-size: 100px;
  color: #9658fe;
}
.wrapper .text{
  font-size: 20px;
  font-weight: 500;
  color: #5B5B7B;
}
.wrapper #cancel-btn i{
  position: absolute;
  font-size: 20px;
  right: 15px;
  top: 15px;
  color: #9658fe;
  cursor: pointer;
  display: none;
}
.wrapper.active:hover #cancel-btn i{
  display: block;
}
.wrapper #cancel-btn i:hover{
  color: #e74c3c;
}
.wrapper .file-name{
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 8px 0;
  font-size: 18px;
  color: #fff;
  display: none;
  background: linear-gradient(135deg,#3a8ffe 0%,#9658fe 100%);
}
.wrapper.active:hover .file-name{
  display: block;
}
.uploadimg .custom-btn{
  margin-top: 30px;
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 25px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  background: linear-gradient(135deg,#3a8ffe 0%,#9658fe 100%);
}

/*----------------------------------------------------------*/
